<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>iKnow - POST</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/redirects.js}"></script>
</head>
<body>
    <div class="container">
      <header>
        <ul class="nav nav-tabs nav-justified">
          <li>
            <a onclick="iknowGet()" style="cursor:pointer">GET</a>
          </li>
          <li class="active">
            <a onclick="iknowPost()" style="cursor:pointer">POST</a>
          </li>
          <li>
            <a onclick="iknowPut()" style="cursor:pointer">PUT</a>
          </li>
          <li>
            <a onclick="iknowDelete()" style="cursor:pointer">DELETE</a>
          </li>
        </ul>
      </header>
    </div>
    
    <div class="container">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Suchbegriff</th>
            <th>Beschreibung</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="data : ${suchbegriff}">
			   <tr th:id="${data.suchbegriff}">
			       <td th:text="${data.suchbegriff}"></td>
			       <td th:text="${data.beschreibung}"></td>
			   </tr>
		  </th:block>
        </tbody>
      </table>
    </div>
  </body>

</html>